* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Parent {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto;
  position: absolute;
  width: 70%;
}
.container {
  padding: 20px;
}

.one,
.one1:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsla(0, 0%, 100%, 0.75);
  border: 2px solid white;
}

.two,
.two2:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsla(0, 0%, 100%, 0.75);
  border: 2px solid white;
}
.three,
.three3:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsla(0, 0%, 100%, 0.75);
  border: 2px solid white;
}

.btn {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 20px;
  border: none;
}
